body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(173, 201, 235);
  margin-top:10%;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.tamagotchi{
  background-color: rgb(173, 201, 235);
  text-align: center;
}

button{
  background-color: blue;
  padding: 10px;
  margin:10px;
  color: white;
  border-radius: 20px;
  border-color: white;

}
h2{
  background-color: red;
  border-radius:20px;
  color:white;
  margin: 20%;
  padding: 10px;
}