
  
  <table class="tbl1" style="width:100%">
    <thead>
      <tr> 
        <th>ID</th>
          <th>NOMBRE</th>
          <th>APELLIDOS</th>
          <th>FECHA DE NACIMIENTO</th>
          <th>EMAIL</th>
          <th>CODIGO POSTAL</th>
          <th>GENERO</th>
      </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let client of clients; index as i">
      <tr>
        <td>{{client.id}}</td>
        <td>{{client.apellidos}}</td>
        <td>{{client.fechaNacimiento}}</td>
        <td>{{client.email}}</td>

        <td>{{client.codigoPostal}}</td>
        <td>{{client.genero}}</td>
        <td><button  (click)="deleteUser(client.id-1)"> Delete</button></td>
      </tr>

    </ng-container>
  </tbody>
  </table>
