
<div class="main">


<h2>BIOGRAFIA </h2>
 
<p>Aitana Ocaña, cantante y compositora española, es conocida por participar en la novena temporada de Operación Triunfo, talent show musical donde 
  obtuvo el segundo puesto del concurso, siendo una de los seis candidatos para representar a España en el Festival de la Canción de Eurovisión 2018.
  Tras su paso por el programa, se ha convertido de manera natural en un fenómeno musical y social. Desde muy jovencita estuvo en contacto con la música,
   muy vinculada a su día a día, pero siempre desde la perspectiva del hobbie mientras lo compaginaba con sus estudios.
  Así es como ha ido adquiriendo las nociones musicales hasta la fecha. Piano, solfeo y canto coral desde la niñez fueron las actividades extraescolares 
  desarrolladas por la joven, hasta que ya de adolescente, empezó a despuntar en su entorno con un arte muy especial a la hora de interpretar y bailar.
  Sus padres, sus descubridores, le sugirieron que se presentase al casting de Operación Triunfo en la reaparición de este programa de televisión en España en 
  2017. A partir de este momento, comenzó su carrera musical, su crecimiento personal y artístico. Se convirtió en una de las principales estrellas del talent 
  show, llegando a ser finalista, liderando grandes temas y todos los charts cada vez que actuaba en directo en las galas de la academia.
  La canción que sin duda marcó su éxito más grande, tanto en España como en el extranjero, fue Lo malo, un sorprendente tema inédito urbano (estilo nuevo para ella),
   compuesto por los hit-makers Will Simms y Jess Morgan, y adaptada al castellano por Brisa Fenoy. Las RRSS se vinieron abajo y los nº1 de las listas de éxitos se rindieron 
   a este sorprendente tema, el cual ha conseguido hitos como Nº1 directo de Spotify en España y Viral España, o Top 6 Viral Mundial Spotify.</p>
<img src="../../../assets/aitana.jpg" alt="">
 

  <H2>SPOILER</H2>
<table>
 
    <tr>
        <th>Canción</th>
        <th>Duración</th>
    </tr>
    <tr *ngFor="let cancionspoiler of spoiler">
      <td>{{cancionspoiler["cancion"]}}</td>
      <td>{{cancionspoiler["duracion"]}}</td>
    </tr>
</table>



   <H2>11 RAZONES</H2>
<table>
 
    <tr>
        <th>Canción</th>
        <th>Duración</th>
    </tr>
    <tr *ngFor="let cancionrazon of oncerazones">
      <td>{{cancionrazon["cancion"]}}</td>
      <td>{{cancionrazon["duracion"]}}</td>
    </tr>
</table>
</div>